$blue: #6FCEF1;
$ygreen: #96CB57;
$green:#6FCF97;
$grey: #828282;
$dgrey: #6E6E70;
$white: #F2F2F2;
body{
  margin:0;
  background-color:$white;
  font-family: Rubik;
  color:#000;
}
.content{
   min-height: calc(100vh - 80px);
   margin-top: 80px;
}
.container{
  margin:0;
  padding:0;
}
@media (min-width:700px){
	.content{
	   margin-top: 50px;
	}
}