@import "globals";
img#selfImg {
  border-radius: 50%;
  width: 100vw;
}
.projItem{
  display:flex;
  position: relative;
  width:90%;
  height:200px;
  margin:5%;
  background-color: $grey;
  box-shadow:4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


.projItem span {
  display: inline-block;
  margin:0 auto;
  align-self: flex-end;
   
}
@media (min-width:700px){
	img#selfImg {
	 width: 40vw;
	}
}