@import "globals";
#resume{
  text-align: center;
  margin-bottom: 40px;

  h1,h2, h3{
    text-align: center;
    margin:20px;
  }
  h1{
     font-size: 3.5em;
  }
  a, li, p{
    font-size: 1.75em;
  }
}
  #buttons{
    display: inline-grid;
  }

#skills{
  display: flex;
  justify-content: space-evenly;
}
.button{
  background-color: $blue; /* Green */
  border: none;
  color: white;
  padding: 20px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 12px;
  width: 300px;
  margin:10px;
}

#rtop{
  background-color: $ygreen;
}
#exp{
  background-color: $dgrey;
}
#skillBox{
  background-color: $blue;
}
#edu{
  background-color: $grey;
}

@media (min-width: 700px){
  #buttons{
    display: flex;
    justify-content: space-evenly;
  }
  #rDoc{
    width:80vw;
    margin: 0 auto;
  }
}